img{
    max-width: 100%;
    height: auto;
}

.geld{
    text-align: center;
    background-color: darkolivegreen;
    padding: 15px;
    color: yellow;
}

.xina{
    background: linear-gradient(green, black);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.texti{
    padding-top: 30px;
    color: yellow;
}
.myndir{
    background: yellowgreen;
    display: grid;
    grid-template-columns: 1fr;
    
}
@media screen and (min-width:34em){
    .myndir{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (min-width:48em){
    .myndir{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    
}

div{
    padding: 10px;
}

.bruh{
    padding: 10px;
}

